.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  color: #eee;
  & .page {
    // padding: 20px;
    cursor: pointer;
    color: black;
  }
  & .disabled {
    cursor: not-allowed;
  }
  & .page-no,
  .current {
    display: flex;
    color: black;
    padding: 10px 10px;
    width: 40px;
    height: 40px;
    // margin: 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  & .current {
    background-color: #ff6b08;
    color: #eee;
  }
}

#next,
#prev {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//bez important

.pagination .hide {
  display: none;
}

.page svg {
  width: 40px;
}

@media (min-width: 768px) {
  .pagination .hide {
    display: flex;
  }

  .page-no:last-child {
    margin-right: 30px;
  }
}

// z important

// .pagination .hide {
//   display: none !important;
// }

// .page svg {
//   width: 40px;
// }

// @media (min-width: 768px) {
//   .pagination .hide {
//     display: flex !important
//   }

//   .page-no:last-child {
//     margin-right: 30px;
//   }
// }
