$color-primary: #000000;
$color-secondary: #ff6b08;
$color-secondary-active: #ff6b01;

$color-dark-gray: #545454;
$color-gray: #8c8c8c;
$color-light-gray: #f7f7f7;

$color-white: #ffffff;

$color-alert: #ff001b;

$trans-func: cubic-bezier(0.4, 0, 0.2, 1);
