#header {
    position: relative;  
    height: 230px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.home {
   background: url("/src/img-header/header_page1_mobile.png");
   background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  
}
.library {
    background: url("/src/img-header/header_page2_mobile.png"); 
     background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
}
.page__nav {
    padding: 46px 20px 38px;
    align-items: center;
    display: flex;
}

