<footer class="footer">
  <div class="wrapper">
    <div class="footer__content">
      <div class="footer__rights">
        <p class="rights__paragraph">&#169; 2022 | All Rights Reserved |</p>
      </div>
      <div class="footer__developed">
        <p class="developed__paragraph">
          Developed with
          <svg class="footer__section--svg" width="13" height="12">
            <use href="./images/symbol-defs.svg#icon-Vector"></use>
          </svg>
          by
          <button type="button" id="myBtn" class="footer__btn">
            GoIT Students
          </button>
        </p>
      </div>
    </div>
  </div>
</footer>
