<footer class="footer">
    <div class="footer__section">
        <p>&#169; 2022 | All Rights Reserved |</p>
        <div class="footer__section--flex">
            <p class="footer__section--text">Developed with</p>
            <span class="footer__second">
                <svg class="footer__section--svg" width="13" height="12">
                    <use href="./images/symbol-defs.svg#icon-Vector"></use>
                </svg>
                <p class="footer__third">
                    by
            </span>
            <button class="footer__section--link">GoIT Students</button>
            </p>
        </div>
    </div>
</footer>