<header id="header" class="home">
      <nav class="page__nav">
        <h1 class="logo">
          <a class="home-link" href="/src/index.html">Filmoteka</a>
        </h1>
        <ul class="navigation__list">
					<li class="nagivation__item">
						<a class="navigation__link selected" href="/src/index.html">Home</a>
					</li>
					<li class="nagivation__item">
						<a class="navigation__link" href="/src/my_library.html">My Library</a>
					</li>
         </ul> 
        <!-- <div id="home" class="route" >Home</div>
        <div id="mylibrary" class="route">My Library</div> -->
      </nav>
      <div class="form none">
        <form class="search-form">
          <div class="input__wrapper">
            <input
              type="text"
              class="form__input"
              name="query"
              id="searchQuery"
              placeholder="Search movies"
              autocomplete="off"
            />
            <button type="submit" class="form__button">
              <span class="form__search"></span>
              <!-- <svg class="form__search">
                            <use href="/src/images/sprite.svg#search">

                            </use>
                        </svg> -->
            </button>
          </div>
        </form>
        <div class="form__warning"></div>
      </div>
     
    </header>
