<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">x</span>
    <div class="modal-content__sides">
      <!-- IMG -->
      <div class="modal-content__img">
        <img src="images/martyn.png" alt="" />
      </div>
      <!-- -->
      <div class="modal-content__right-side">
        <h2 class="modal-content__title">Martyn Lazarewicz</h2>
        <h3 class="modal-content__about">About</h3>
        <p class="modal-content__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet
          soluta culpa ipsa tempora voluptatum ab tenetur dignissimos maiores
          nisi quos vitae quibusdam ipsum autem quam quo, laudantium veniam.
          Quo?
        </p>
      </div>
    </div>
    <div class="modal-content__sides">
      <!-- IMG -->
      <div class="modal-content__img">
        <img src="images/pawelp.png" alt="" />
      </div>
      <!-- -->
      <div class="modal-content__right-side">
        <h2 class="modal-content__title">Pawaeł Pałasiński</h2>
        <h3 class="modal-content__about">About</h3>
        <p class="modal-content__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet
          soluta culpa ipsa tempora voluptatum ab tenetur dignissimos maiores
          nisi quos vitae quibusdam ipsum autem quam quo, laudantium veniam.
          Quo?
        </p>
      </div>
    </div>
    <div class="modal-content__sides">
      <!-- IMG -->
      <div class="modal-content__img">
        <img src="images/agnieszka.png" alt="" />
      </div>
      <!-- -->
      <div class="modal-content__right-side">
        <h2 class="modal-content__title">Agnieszka Janowska</h2>
        <h3 class="modal-content__about">About</h3>
        <p class="modal-content__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet
          soluta culpa ipsa tempora voluptatum ab tenetur dignissimos maiores
          nisi quos vitae quibusdam ipsum autem quam quo, laudantium veniam.
          Quo?
        </p>
      </div>
    </div>
    <div class="modal-content__sides">
      <!-- IMG -->
      <div class="modal-content__img">
        <img src="images/pawelk.png" alt="" />
      </div>
      <!-- -->
      <div class="modal-content__right-side">
        <h2 class="modal-content__title">Paweł Kłodowski</h2>
        <h3 class="modal-content__about">About</h3>
        <p class="modal-content__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet
          soluta culpa ipsa tempora voluptatum ab tenetur dignissimos maiores
          nisi quos vitae quibusdam ipsum autem quam quo, laudantium veniam.
          Quo?
        </p>
      </div>
    </div>
    <div class="modal-content__sides">
      <!-- IMG -->
      <div class="modal-content__img">
        <img src="images/karolina.png" alt="" />
      </div>
      <!-- -->
      <div class="modal-content__right-side">
        <h2 class="modal-content__title">Karolina Podbliska</h2>
        <h3 class="modal-content__about">About</h3>
        <p class="modal-content__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet
          soluta culpa ipsa tempora voluptatum ab tenetur dignissimos maiores
          nisi quos vitae quibusdam ipsum autem quam quo, laudantium veniam.
          Quo?
        </p>
      </div>
    </div>
    <div class="modal-content__sides">
      <!-- IMG -->
      <div class="modal-content__img">
        <img src="images/jakub.png" alt="" />
      </div>
      <!-- -->
      <div class="modal-content__right-side">
        <h2 class="modal-content__title">Jakub Pikul</h2>
        <h3 class="modal-content__about">About</h3>
        <p class="modal-content__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad amet
          soluta culpa ipsa tempora voluptatum ab tenetur dignissimos maiores
          nisi quos vitae quibusdam ipsum autem quam quo, laudantium veniam.
          Quo?
        </p>
      </div>
    </div>
  </div>
</div>
