<div class="pagination">
  <div class="page" id="prev"></div>
  <div class="page-no" id="first">1</div>
  <div class="page-no" id="prev-dotts">...</div>
  <div class="page-no" id="prev-2">-1</div>
  <div class="page-no" id="prev-1">0</div>
  <div class="page-no current" id="current">1</div>
  <div class="page-no" id="next-1">2</div>
  <div class="page-no" id="next-2">3</div>
  <div class="page-no" id="next-dotts">...</div>
  <div class="page-no" id="total">100</div>
  <div class="page" id="next"></div>
</div>
