<header id="header" class="my_library">
  <div class="wrapper">
    <nav class="nav">
      <a href="/src/index.html" class="logo">Filmoteka</a>
      <ul class="navigation">
        <li class="nagivation__item">
          <a class="navigation__link" href="/src/index.html">Home</a>
        </li>
        <li class="nagivation__item">
          <a class="navigation__link active" href="/src/my_library.html"
            >My Library</a
          >
        </li>
      </ul>
    </nav>

    <div class="js-buttons">
      <button type="button" id="btn-watched" class="library__button">Watched</button>
      <button type="button" id="btn-queue" class="library__button">Queue</button>
    </div>
  </div>
</header>
